Algoritmo "Troco"

Var

  PrecoUnit : real
  QuantComprada : inteiro
  DinheiroReceb : real
  Troco : real
  
Inicio

  Escreva ("Preço Unitário: ")
  Leia (PrecoUnit)
  Escreva ("Quantidade comprada: ")
  Leia (QuantComprada)
  Escreva ("Dinheiro recebido: ")
  Leia (DinheiroReceb)
  
  Troco <- DinheiroReceb - PrecoUnit * QuantComprada
  
  Escreva ("Troco = ", Troco:6:2)
  
Fimalgoritmo
